* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Tajawal', sans-serif;
    background-color: black;
}

nav a {
    padding-top: 1.25rem;
}

.logo-Seba p {
    display: inline-block;
    color: white;
    justify-content: center;
}