* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Tajawal', sans-serif;
    background-color: black;
}

nav a {
    padding-top: 1.25rem;
}

.logo-Seba p {
    display: inline-block;
    color: white;
    justify-content: center;
}

.non-underline {
    text-decoration: none;
}

.carousel-bg {
    height: 100vh;
}
  
.nav-item:hover {
    border-bottom: 1px solid white;
}

#footer p {
    display: inline-block;
    color: white;
    justify-content: center;
    font-size: 10px;
    font-style: normal;
    opacity: 50%;
}